<html>
<head>
<title>Total Bill Calculator</title>

<style>
body{
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

.box{
    background-color: blue;
    color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

h2{
    color: pink;
}
</style>

</head>

<body>

<div class="box">

<h1>TOTAL BILL AMOUNT</h1>
<h2>logamithra.k (25005891)</h2>

<form method="POST">
{% csrf_token %}

<label>Price:</label><br>
<input type="number" name="Price" step="any" required><br><br>

<label>GST (%):</label><br>
<input type="number" name="GST" step="any" required><br><br>

<button type="submit">Calculate</button>

<br><br>

<label>Total:</label><br>
<input type="text" value="{{ Total }}" readonly>

</form>

</div>

</body>
</html>